<div class="information-page-container">
  <div class="form-container">
    <div class="field-container">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="forgot-password-field">
          <p><%= f.label :email %></p>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <div class="submit-button"><%= f.submit "Reset password" %></div>
        </div>
      <% end %>


    </div>
  </div>
</div>
