<h1>Edit Your Song</h1>

<%= link_to 'Home', :home %>

<br/>

<%= form_for @song do |f| %>
    <%= f.label @song.title %><br/>
    <%= f.text_area :lyrics %><br/>
    <%= f.submit "Save changes" %>
<% end %>

<br/>

<%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?'} %>
