<div class="song-main-container">

  <div id="side-nav" class="col-md-2" role="navigation">
    <div class="button-holder">
      <button class="button-link"><%= link_to 'New Song', new_song_path %></button>
    </div>
    <div class="button-holder">
      <button class="button-link"><%= link_to 'Home', home_path %> </button>
    </div>
  </div>

  <div class="inner-container col-md-10">
    <h1 class="list-song-title-1">My Library</h1>



    <h3 class="list-song-title-2">List of Songs</h3>

    <div class="row row-header">
      <h5 class="col-md-8">Title</h5>
      <h5 class="col-md-4">Options</h5>
    </div>
    <% @songs.each do |song| %>
      <div class="row song-list-container">
        <div class="col-md-8 song-title"><a href="songs/<%= song.id %>" class="show-song"><%= song.title %></a></div>
        <div class="col-md-4">
          <%= link_to 'Edit', edit_song_path(song) %>
          <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

