<div class="show-song-container">
  <div class="inner-edit-song-container col-md-12">
    <%= form_for @song do |f| %>
      <h3><%= f.text_field :title, placeholder: "Title", autofocus: "on" %></h3>
      <%= f.cktext_area :lyrics, ckeditor: { language: 'us'}, rows: 60 %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "Create Song", class: "create-song-button" %>
    <% end %>
    <p class="show-links"><%= link_to "Back", home_path, class: "show-links" %></p>
  </div>
</div>
















