<div class="show-song-container">
  <div class="inner-edit-song-container col-md-12">
    <%= form_for @song do |f| %>
      <h3><%= f.text_field :title %></h3>
      <%= f.cktext_area :lyrics, ckeditor: { language: 'en'} %>
      <%= f.submit "Save changes", class: "confirm-button" %>
      <button><%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?', class: "confirm-button" } %></button>
      <p class="show-links"><%= link_to "Home", home_path, class: "show-links" %></p>
    <% end %>
  </div>
</div>
