<!DOCTYPE html>
<html>
<head>
  <title>MusicSheetApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="application.css">
</head>


<body>
  <div id="main-container">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <% if user_signed_in? %>
          Signed in as <%= current_user.first_name %>.
        <p><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></p><br />
        <% else %>
          <div id="register"><%= link_to 'Register', new_user_registration_path %></div>
          <div id="sign-in"><%= link_to 'Sign in', new_user_session_path %></div>
        <% end %>
      </div>
    </nav>
  </div>

    <%= yield %>

    <p class="alert"><%= notice %></p>
</body>
</html>



<!--

    <div class="alert alert-success" role="alert"><%= alert %></div> -->
